<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <!-- <input type="file" name="upload_ed" id="">
        <input type="file" name="upload_ce" id="">
        <input type="file" name="upload_ce" id="">
        <input type="file" name="upload_pe" id="">
        <input type="file" name="upload_pe" id="">
        <input type="file" name="upload_pe" id=""> -->
        <input type="text" name="named" id="">
        <button type="submit">Submit</button>
    </form>
   
</body>
</html>