<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Test</h1>
    <form action="/test" method="post">
        <label for="name">Full Name : </label>
        <input type="text" name="name" id="">
        <br>
        <label for="email">Email : </label>
        <input type="email" name="email" id="">
        <br>
        <label for="github">GitHub : </label>
        <input type="text" name="github" id="">
        <br>
        <label for="linkedin">LinkedIn</label>
        <input type="text" name="linkedin" id="">
        <br>
        <label for="profession">Profession</label>
        <input type="text" name="profession" id="">
    <div id="skill">
        <label for="skills">Skills </label>
        <input type="text" name="skill" id="">
    </div>
    <button onclick="addSkill()" type="button">Add More Project </button>
   
    <div id="interest">
        <label for="interest">interest </label>
        <input type="text" name="interest" id="">
        <br>
    </div>
<button onclick="addInterest()" type="button">Add More Project </button>
        
    <div id="education">   
        <label for="education">Education : </label>
        <br>
        <label for="education"> Institute Name :</label>
        <input type="text" name="education">
        <br>
        <label for="education_stream">Stream : </label>
        <input type="text" name="education_stream">
        <br>
        <label for="education_duration">Duration : </label>
        <input type="text" name="education_duration">
        <br>
        <label for="cgpa">CGPA / Percentgae : </label>
        <input type="text" name="cgpa">
        <br>
    </div>     
    <button onclick="addEducation()" type="button">Add More Project </button>
  
        <br>
    <div id="project">
        <label for="projects">projects : </label>
        <label for="project_title">Project Title : </label>
        <input type="text" name="project_title">
        <br>
        <label for="project_description">Project Description :</label>
        <input type="text" name="project_description">
        <br>
        <label for="project_duration">Project Duration</label>
        <input type="text" name="project_duration">
        <br>
        <label for="project_link">Project Link if any</label>
        <input type="text" name="project_link">
        <br>
    </div>
    <button onclick="addProject()" type="button">Add More Project </button>

        <div id="certificate">
        <label for="certificates">Certificates : </label>
        <label for="certificate_title">Certificate Title : </label>
        <input type="text" name="certificate_title">
        <br>
        <label for="certificate_description">Certificate Description :</label>
        <input type="text" name="certificate_description">
        <br>
        <label for="certificate_duration">Certificate Duration</label>
        <input type="text" name="certificate_duration">
        <br>
        <label for="certificate_link">Certificate Link if any</label>
        <input type="text" name="certificate_link">
        <br>
    </div>
    <button onclick="addCertificate()" type="button">Add More Certificate</button>
   

        <div id="internship">
        <label for="Internships">Internships : </label>
        <br>
        <label for="internship_title">Internship Title : </label>
        <input type="text" name="internship_title">
        <br>
        <label for="internship_description">Internship Description :</label>
        <input type="text" name="internship_description">
        <br>
        <label for="internship_duration">Internship Duration</label>
        <input type="text" name="internship_duration">
        <br>
        <label for="internship_link">Internship Link if any</label>
        <input type="text" name="internship_link">
        <br>
    </div>
    <button onclick="addInternship()" type="button">Add More  Internship</button>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
<script src="./js/test.js"></script>
</html>